main {
    flex: 1;
    padding: 20px;
}

.pad-5 {
    padding: 5px;
}
    
.pad-20 {
    padding: 20px;
}

.vertical-line {
  border-left: 2px solid rgb(255, 255, 255);
  height: 30px;
  margin: 0 5px;
}

.text-light {
    color: #f8f9fa !important;
}

.bg-innovia {
    background-color: #0057B8;
    color: white;
}

.bg-innovia-light {
    background-color: #e1e5eb;
}

.alert-panel {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}