{% extends "template.html" %}{% block title %}App Information{% endblock %}
{% block content %}
    <div class="container-center mg-4 wd-80 bg-light pad-20 rounded-20">
        <h2>About</h2>
        
        <br>

        <h4>Interface Monitoring Portal (IMP)</h4>
        <p>The Interface Monitoring Portal (IMP) is a web-based application designed to monitor and manage interface alerts between systems.<br> 
        It provides real-time visibility into interface statuses, allowing for quick identification and response to critical issues.</p>
        
        <br>

        <h4>App Version</h4>
        <p>Version 1.0</p>

        <br>

        <h4>Release notes:</h4>
        <ul>
            <li>V1.0 - Initial release of the Interface Monitoring Portal (IMP) application.</li>
        </ul>
    </div>
{% endblock %}