{% extends "template.html" %}{% block title %}Manage Interface{% endblock %}
{% block content %}
    <div class="container-center mb-4 wd-80 bg-light rounded-20 pad-20">    
        <h1>Manage Interface</h1>
        <form method="post" action="{% if action == 'edit' %}{% url 'editInterface' interface.id %}{% elif action == 'add' %}{% url 'addInterface' %}{% endif %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Interface Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{% if interface %}{{ interface.name }}{% endif %}" required>
                <br>
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3">{% if interface %}{{ interface.description }}{% endif %}</textarea>
                <br>
                <table class="wd-100">
                    <tr>
                        <td class="text-right"><button type="submit" class="btn btn-primary">{% if action == 'edit' %}Update{% else %}Add{% endif %}</button></td>
                        <td><a href="{% url 'masterdata' %}" class="btn btn-secondary mr-2">Cancel</a></td>
                    </tr>
                </table>
            </div>
    </div>
{% endblock %}