{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Interface Monitoring Portal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'IMPapp/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" />
</head>
<body class="d-flex flex-column min-vh-100 bg-innovia-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-innovia sticky-top px-3">
        <img src="{% static 'IMPapp/cclInnoviaLogo.svg' %}" width="200" height="40" class="d-inline-block align-top mr-2" alt="Logo"/>
        <a class="navbar-brand text-white" href="#">Interface Monitoring Portal</a>
        <div class="vertical-line"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item pad-5">
                    <a class="nav-link text-light" href="/IMPapp/home/">Home</a>
                </li>
                <li class="nav-item pad-5">
                    <a class="nav-link text-light" href="/IMPapp/masterdata/">Master Data</a>
                </li>
                <li class="nav-item pad-5">
                    <a class="nav-link text-light" href="/IMPapp/about/">About</a>
                </li>
            </ul>
        </div>
        <div class="ml-auto">
            {% if user.is_authenticated %}
                <span class="navbar-text text-white mr-3">Logged in as {{ user.username }}</span>
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button class="btn btn-outline-light" type="submit">Logout</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'login' %}" style="display:inline;">
                    {% csrf_token %}
                    <button class="btn btn-outline-light" type="submit">Login</button>
                </form>
            {% endif %}
    </nav>
    <main class="my-4 flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-dark text-white text-center p-3 wd-100 mt-auto">
        &copy; 2026 Interface Monitoring Portal
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
</body>
</html>
