<div class="rounded-20 p-3 bg-light">
    <table class="width-100 mb-3">
        <tr>
            <td>
                <h4 class="mb-3">Threshold Details</h4>
            </td>
            <td class="text-right">
                <form method="post" action="{% url 'manageThresholdAdd' 'add' %}">
                    {% csrf_token %}
                    <button class="btn btn-primary mb-3" type="submit">Add</button>
                </form>
            </td>
        </tr>
    </table>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Interface Name</th>
                <th scope="col">Alert Level</th>
                <th scope="col">Metric</th>
                <th scope="col">Upper Limit</th>
                <th scope="col">Lower Limit</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for threshold in thresholds %}
            <tr>
                <td>{{ threshold.interface.name }}</td>
                <td><span class="
                    {% if threshold.alert_level.name == 'critical' %}badge-danger
                    {% elif threshold.alert_level.name == 'warning' %}badge-warning
                    {% elif threshold.alert_level.name == 'minor' %}badge-info
                    {% endif %} badge">{{ threshold.alert_level.description }}</span></td>
                <td>{{ threshold.metric.name }}</td>
                <td>{{ threshold.upper_limit }}</td>
                <td>{{ threshold.lower_limit }}</td>
                <td>{{ threshold.description }}</td>
                <td>
                    <table class="table-borderless mb-0 align-right">
                        <tr>
                            <td class="p-0 pr-1">
                                <form method="post" action="{% url 'manageThresholdEdit' 'edit' threshold.id %}">
                                    {% csrf_token %}
                                    <button class="btn btn-secondary btn-sm" type="submit">Edit</button>
                                </form>
                            </td>
                            <td class="p-0">
                                <form method="post" action="{% url 'removeThreshold' threshold.id %}">
                                    {% csrf_token %}
                                    <button class="btn btn-danger btn-sm" type="submit">Remove</button>
                                </form>
                            </td>
                        </tr>    
                    </table>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No Thresholds available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    